* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #262626;
  color: #d1d1d1;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  padding: 0 4rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-family: sans-serif;
}

.txt {
  border-right: 0.2rem solid#777;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #d1d1d1;
  background: none;
  color: #d1d1d1;
  font-weight: 600;
}

button:hover {
  transition: all 300ms ease-out;
  background-color: #d1d1d1;
}

a {
  text-decoration: none;
  color: #d1d1d1;
}

a:hover {
  color: black;
}

@media (max-width: 720px) {
  .container {
    padding: 25px;
  }
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.5em;
    margin: 15px 0;
  }
}
